body {
    background: #C5D9D3;
}

.hero-unit {
    background: #F2E205 url('../images/beta.png') no-repeat 0 36px;
}

/* Form */
.form-search {
    margin-bottom: 20px;
}
input.height-40 {
    height: 40px
}

.table-title {
    background: #70e0c9;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
td.no-border {
    border: none;
}
td.text-center {
    text-align: center;
}

/* Footer */
.footer {
    border-top: 10px solid #70e0c9;
    margin-top: 20px;
    text-align: right;
}
#prova-brasil {
    height: 100px;
}

/* Maps */
#map-canvas {
    height: 520px
}

/* Utils */
.background-white {
    background-color: #FFF;
}
.height-40 {
    height: 40px
}
.no-margin {
    margin: 0;
}
.no-border {
    border: none;
}

@media (max-width: 777px) {
    .input-append.span10.offset1 {
        padding: 0 5%;
        width: 95%;
    }
    .search-query.span10.height-40 {
        width: inherit;
    }
}
