body {
    background: #C5D9D3;
}

.hero-unit {
    background: #F2E205;
}

/* Form */
.form-search {
    margin-bottom: 20px;
}
input.height-40 {
    height: 40px
}

/* Maps */
#map-canvas {
    height: 500px
}

/* Utils */
.background-white {
    background-color: #FFF;
}
.height-40 {
    height: 40px
}
